<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849264970147-ic4ps4fefp9hl80vvcon7ne0t7e7af0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849264970147-ic4ps4fefp9hl80vvcon7ne0t7e7af0h</string>
	<key>API_KEY</key>
	<string>AIzaSyBLz-_lbUeaZqR57HtEwkwgfdpwxOvC9PE</string>
	<key>GCM_SENDER_ID</key>
	<string>849264970147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-1f991</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-1f991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849264970147:ios:24032e549236741632b216</string>
</dict>
</plist>